- name: install command line utils
  homebrew: 
    name: "{{ item }}"
    state: present
  with_items:
    - vim
    - tmux
    - git
    - node
    - npm
    - nvm
    - yarn
    - htop
    - mysql-client
    - fish 


  